# Java build files
mapreduce/classes/
*.class

# Generated Java JAR
*.jar

# Hadoop/Pig generated output
mapreduce/output/
pig/output/

# Hadoop temporary files
tmp/
temp/

# IDE files
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log